<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="resources/css/bootstrap.min.css">
  <link rel="stylesheet" href="resources/css/default.css">
  <link rel="stylesheet" href="resources/css/style.css">
  <title>Algorithmes Séance 2</title>
</head>

<body>
  <aside>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#aside_navbar"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="aside_navbar"></div>
    </nav>
  </aside>

  <main class="container my-3">
    <h1>Algorithmes Séance 2</h1>

    <article>
      <h2>Problèmes</h2>

      <section>
        <h3>Majeur / Mineur</h3>

        <figure>
          <img class="h4cm" src="algo/images/personne-majeur-mineure.jpg" alt="Personne majeure ou mineure">
          <figcaption>Personne majeure ou mineure</figcaption>
        </figure>

        <p>Une personne est dite majeure si son âge dépasse 18 ans.</p>
        <p><strong>Ecrire un algorithme pour déterminer si une personne est majeure ou mineure.</strong></p>

        <div class="row">
          <div class="col-sm-6">
            <pre><code class="nohighlight shell python" data-text="Exemple 1">Votre nom ? Raed
Votre âge ? 16
Raed vous êtes mineur.
Vous serez majeur dans 2 ans.</code></pre>
          </div>
          <div class="col-sm-6">
            <pre><code class="nohighlight shell python" data-text="Exemple 2">Votre nom ? Loauy
Votre âge ? 19
Louay vous êtes majeur.
Vous êtes majeur depuis 1 ans.</code></pre>
          </div>
        </div>

        <div id="simulation-1" class="d-print-none my-3 border border-dark bg-light p-3">
          <div v-if="step == -1">
            <div class="my-2">Cliquer sur le bouton suivant pour faire la simulation.</div>
            <button class="btn btn-primary" v-on:click="simuler(0)">Simuler</button>
          </div>
          <div class="my-2" v-if="step >= 0">
            Votre nom ? <input v-if="step == 0" ref="nom" name="nom" type="text" v-model="nom"
              v-on:keydown.enter="simuler(1)">
            <span v-else>{{nom}}</span>
          </div>
          <div class="my-2" v-if="step >= 1">
            Votre âge ? <input v-if="step == 1" ref="age" name="age" type="text" v-model="age"
              v-on:keydown.enter="simuler(2)">
            <span v-else>{{age}}</span>
          </div>
          <div v-if="step >= 2">
            <div class="my-2">{{nom}} vous êtes {{age >= 18 ? 'majeur' : 'mineur'}}.</div>
            <div class="my-2">{{message}}.</div>
          </div>
          <div class="my-2" v-if="step >= 2">
            <button class="btn btn-secondary" ref="restart" v-on:click="simuler(-1)">Reset</button>
          </div>
        </div>

        <h4>Travail demandé</h4>
        <ol>
          <li>Déterminer les données de ce problème.</li>
          <li>Déterminer les résultats de ce problème.</li>
          <li>Déterminer les traitements requis sur les données pour aboutir à ces résultats.</li>
          <li>Rédiger l'algorithme en utilisant le vocabulaire suivant :
            <ul>
              <li>Pour afficher un résultat on utilise <strong>Ecrire(...)</strong>, on écrit, selon le besoin :
                <pre><code class="language-algorithm">Ecrire("Bonjour mon ami!") // Afficher un texte
Ecrire(nom) // Afficher le contenu de la variable nom
Ecrire("Nom = ", nom) // Affichage mixte</code></pre>
              </li>
              <li>Pour demander une donnée à l'utilisateur on utilise <strong>Lire(variable)</strong>, on écrit, par
                exemple :
                <pre><code class="language-algorithm">Ecrire("Donner votre nom ? ") 
Lire(nom)</code></pre>
              </li>
              <li>Pour tester une condition on utilise une <strong>structure conditionnelle à forme alternative</strong>
                écrit par exemple:
                <pre><code class="language-algorithm">// Tester si un nombre est positif ou négatif
Si nombre >= 0 Alors
  Ecrire(nombre, " est positif")
Sinon
  Ecrire(nombre, " est négatif")
Fin Si</code></pre>
              </li>
            </ul>
          </li>
        </ol>
      </section>

      <section>
        <h3 class="p-break">Mon croissant</h3>

        <figure>
          <img class="h4cm" src="algo/images/patisserie-croissant.jpg" alt="Croissants">
          <figcaption>Croissants</figcaption>
        </figure>

        <p>Je suis dans une patisserie pour acheter des croissants. Le prix du croissant est 800 millimes/pièce.</p>
        <p>J'achète un nombre de croissants, je paye et le caissier me rend la monnaie avant de quitter la patisserie.
        </p>

        <p><strong>Ecrire un algorithme pour simuler cette situation.</strong></p>

        <div class="row">
          <div class="col-sm-6">
            <pre><code class="nohighlight shell python" data-text="Exemple 1">Nbre de croissants ? 5
Total = 800 &times; 5 = 4000
Votre argent ? 5000
Monnaie = 1000</code></pre>
          </div>
          <div class="col-sm-6">
            <pre><code class="nohighlight shell python" data-text="Exemple 2">Nbre de croissants ? 10
Total = 800 &times; 10 = 8000
Votre argent ? 5000
Manquant = 3000</code></pre>
          </div>
          <div class="col-sm-6">
            <pre><code class="nohighlight shell python" data-text="Exemple 3">Nbre de croissants ? 7
Total = 800 &times; 7 = 5600
Votre argent ? 6000
Monnaie = 400</code></pre>
          </div>
          <div class="col-sm-6">
            <pre><code class="nohighlight shell python" data-text="Exemple 2">Nbre de croissants ? 10
Total = 800 &times; 10 = 8000
Votre argent ? 8000
A bientôt</code></pre>
          </div>
        </div>

        <div id="simulation-2" class="d-print-none my-3 border border-dark bg-light p-3">
          <div v-if="step == -1">
            <div class="my-2">Cliquer sur le bouton suivant pour faire la simulation.</div>
            <button class="btn btn-primary" v-on:click="simuler(0)">Simuler</button>
          </div>
          <div class="my-2" v-if="step >= 0">
            Nbre de croissants ? <input v-if="step == 0" ref="qte" name="qte" type="text" v-model="qte"
              v-on:keydown.enter="simuler(1)">
            <span v-else>{{qte}}</span>
          </div>
          <div v-if="step >= 1">
            <div class="my-2">Total = 800 &times; {{qte}} = {{800*qte}}<br></div>
            <div class="my-2">
              Votre argent ? <input v-if="step == 1" ref="argent" name="argent" type="text" v-model="argent"
                v-on:keydown.enter="simuler(2)">
              <span v-else>{{argent}}</span>
            </div>
          </div>
          <div class="my-2" v-if="step >= 2">
            {{message}}.
          </div>
          <div class="my-2" v-if="step >= 2">
            <button class="btn btn-secondary" ref="restart" v-on:click="simuler(-1)">Reset</button>
          </div>
        </div>

        <h4>Travail demandé</h4>
        <ol>
          <li>Déterminer les données de ce problème.</li>
          <li>Déterminer les résultats de ce problème.</li>
          <li>Déterminer les traitements requis sur les données pour aboutir à ces résultats.</li>
          <li>Rédiger l'algorithme en utilisant le vocabulaire vu précédemment et le vocabulaire suivant :
            <ul>
              <li>Pour faire un calcul on utilise <strong>l'affectation</strong>, par exemple :
                <pre><code class="language-algorithm">// Calculer la moyenne de deux devoirs
moy &larr; (dc + ds * 2) / 3</code></pre>
              </li>
              <li>Pour tester plus de deux condition on utilise une <strong>structure conditionnelle à forme
                  généralisée</strong>, on écrit, par exemple:
                <pre><code class="language-algorithm">// Tester si un nombre est égal, supérieur ou inférieur à un autre
Si n1 = n2 Alors
  Ecrire(n1, " est égal à ", n2)
Sinon Si n1 > n2 Alors
  Ecrire(n1, " est supèrieur à ", n2)
Sinon
  Ecrire(n1, " est inférieur à ", n2)
Fin Si</code></pre>
              </li>
            </ul>
          </li>
        </ol>
      </section>

      <section>
        <h3 class="p-break">Au café</h3>

        <figure>
          <img class="h4cm" src="algo/images/amis-au-cafe.jpg" alt="Amis au café">
          <figcaption>Amis au café</figcaption>
        </figure>

        <p>Vous êtes au café, votre ami a demandé un café, vous avez demandé une boisson gazeuse. Le serveur, en
          revenant, s'est trompé. Il pose le café davant vous et la boisson gazeuse devant votre ami. Il a permuté la
          commande.</p>
        <p>Ecrire un algorithme pour simuler cette situation.</p>

        <p><strong>Ecrire un algorithme pour simuler cette situation.</strong></p>

        <div class="row">
          <div class="col-sm-6">
            <pre><code class="nohighlight shell python" data-text="Exemple 1">Votre commande ? Café
Commande de votre ami ? Boisson gazeuse
Erreur serveur ? oui
Le serveur apporte
Boisson gazeuse pour vous
Café pour votre ami</code></pre>
          </div>
          <div class="col-sm-6">
            <pre><code class="nohighlight shell python" data-text="Exemple 2">Votre commande ? Café
Commande de votre ami ? Boisson gazeuse
Erreur serveur ? non
Le serveur apporte
Café pour vous
Boisson gazeuse pour votre ami</code></pre>
          </div>
        </div>

        <div id="simulation-3" class="d-print-none my-3 border border-dark bg-light p-3">
          <div v-if="step == -1">
            <div class="my-2">Cliquer sur le bouton suivant pour faire la simulation.</div>
            <button class="btn btn-primary" v-on:click="simuler(0)">Simuler</button>
          </div>
          <div class="my-2" v-if="step >= 0">
            Votre commande ? <input v-if="step == 0" ref="cmd1" name="cmd1" type="text" v-model="cmd1"
              v-on:keydown.enter="simuler(1)">
            <span v-else>{{cmd1}}</span>
          </div>
          <div class="my-2" v-if="step >= 1">
            Commande de votre ami ? <input v-if="step == 1" ref="cmd2" name="cmd2" type="text" v-model="cmd2"
              v-on:keydown.enter="simuler(2)">
            <span v-else>{{cmd2}}</span>
          </div>
          <div class="my-2" v-if="step >= 2">
            Erreur serveur ? <input v-if="step == 2" ref="err" name="err" type="text" v-model="err"
              v-on:keydown.enter="simuler(3)">
            <span v-else>{{err}}</span>
          </div>
          <div v-if="step >= 3">
            <div class="my-2">Le serveur apporte</div>
            <div class="my-2">{{cmd11}} pour vous</div>
            <div class="my-2">{{cmd12}} pour votre ami</div>
          </div>
          <div class="my-2" v-if="step >= 3">
            <button class="btn btn-secondary" ref="restart" v-on:click="simuler(-1)">Reset</button>
          </div>
        </div>

        <h4>Travail demandé</h4>
        <ol>
          <li>Déterminer les données de ce problème.</li>
          <li>Déterminer les résultats de ce problème.</li>
          <li>Déterminer les traitements requis sur les données pour aboutir à ces résultats.</li>
          <li>Rédiger l'algorithme en utilisant le vocabulaire vu précédemment.</li>
        </ol>
      </section>


      <section>
        <h3>Au supermarché</h3>

        <figure>
          <img class="h4cm" src="algo/images/caisse-supermarche.jpg" alt="Caisse du supermarché">
          <figcaption>Caisse du supermarché</figcaption>
        </figure>

        <p>Vous êtes au supermarché, vous avez fait vos courses et à la caisse on vous dit que vous pouvez être le
          gagnant du jour. Tout dépend du N° de votre ticket de caisse.</p>

        <p>Pour gagner votre ticket de caisse dois vérifier les quatre conditions suivantes :</p>
        <ul>
          <li>Le chiffre des unités ne doit pas être nul</li>
          <li>Le chiffre des dizaines doit être le double du chiffre d'unités</li>
          <li>Le chiffre des milliers est identique au chiffre des unités</li>
          <li>Le chiffre des centaines est identique au chiffre des dizaines</li>
        </ul>

        <p><strong>Ecrire un algorithme pour simuler cette situation.</strong></p>

        <div class="row">
          <div class="col-sm-6">
            <pre><code class="nohighlight shell python" data-text="Exemple 1">Numéro de votre ticket ? 5242442
Vous êtes le gagnant du jour</code></pre>
          </div>
          <div class="col-sm-6">
            <pre><code class="nohighlight shell python" data-text="Exemple 2">Numéro de votre ticket ? 5244225
Merci pour votre visite</code></pre>
          </div>
        </div>

        <div id="simulation-4" class="d-print-none my-3 border border-dark bg-light p-3">
          <div v-if="step == -1">
            <div class="my-2">Cliquer sur le bouton suivant pour faire la simulation.</div>
            <button class="btn btn-primary" v-on:click="simuler(0)">Simuler</button>
          </div>
          <div class="my-2" v-if="step >= 0">
            Numéro de votre ticket ? <input v-if="step == 0" ref="num" name="num" type="text" v-model="num"
              v-on:keydown.enter="simuler(1)"><span v-else>{{num}}</span>
          </div>
          <div v-if="step >= 1">
            <div class="my-2">{{message}}</div>
          </div>
          <div class="my-2" v-if="step >= 1">
            <button class="btn btn-secondary" ref="restart" v-on:click="simuler(-1)">Reset</button>
          </div>
        </div>

        <h4>Travail demandé</h4>
        <ol>
          <li>Déterminer les données de ce problème.</li>
          <li>Déterminer les résultats de ce problème.</li>
          <li>Déterminer les traitements requis sur les données pour aboutir à ces résultats.</li>
          <li>Rédiger l'algorithme en utilisant le vocabulaire vu précédemment.</li>
        </ol>
        <p>Pour faire la division entière on utilise <strong>div</strong> pour obtenir le quotient et
          <strong>mod</strong> pour obtenir le reste.
        </p>
        <pre><code class="language-algorithm">pommes &larr; 26
// Calculer le nombre de groupes de sept pommes
nbg &larr; pommes div 7 // nbg = 26 div 7 = 3
// Calculer le nombre de pommes restantes
npr &larr; pommes mod 7 // npr = 26 mod 7 = 5</code></pre>

        <p>Il est possible de mettre plusieurs condition dans la condition d'une instruction <strong>si</strong>.</p>
        <pre><code class="language-algorithm">a &larr; 3
b &larr; 5
Si a &gt; 0 et b &lt; 10 Alors
  Ecrire("Condition vérifiée")
Sinon
  Ecrire("Condition non vérifiée")
Fin Si</code></pre>
      </section>

      <section>
        <h3>Conseil de classe</h3>

        <figure class="d-print-none">
          <img class="h4cm" src="algo/images/conseil-de-classe.png" alt="Conseil de classe">
          <figcaption>Conseil de classe</figcaption>
        </figure>

        <p>Lors du conseil de classe, le directeur annonce que parmi les conditions de rèussite :</p>
        <ul>
          <li>L'élève obtient une moyenne annuelle &ge; 10</li>
          <li>L'élève obtient une moyenne annuelle &ge; 9 et une moyenne arithmétique &ge; 9 dans les matières
            principales (mathématiques + informatique)</li>
        </ul>

        <p><strong>Ecrire un algorithme pour simuler cette situation.</strong></p>

        <div class="row">
          <div class="col-sm-6">
            <pre><code class="nohighlight shell python" data-text="Exemple 1">Nom de l'élève ? Fakher
Moyenne annuelle ? 13.0
Fakher réussit</code></pre>
          </div>
          <div class="col-sm-6">
            <pre><code class="nohighlight shell python" data-text="Exemple 2">Nom de l'élève ? Farida
Moyenne annuelle ? 8.95
Farida redouble</code></pre>
          </div>
          <div class="col-sm-6">
            <pre><code class="nohighlight shell python" data-text="Exemple 3">Nom de l'élève ? Fathi
Moyenne annuelle ? 9.23
Moyenne mathématiques ? 5.5
Moyenne informatique ? 17.0
Fathi réussit</code></pre>
          </div>
          <div class="col-sm-6">
            <pre><code class="nohighlight shell python" data-text="Exemple 4">Nom de l'élève ? Fahima
Moyenne annuelle ? 9.23
Moyenne mathématiques ? 5.5
Moyenne informatique ? 8.0
Fahima redouble</code></pre>
          </div>
        </div>

        <div id="simulation-5" class="d-print-none my-3 border border-dark bg-light p-3">
          <div v-if="step == -1">
            <div class="my-2">Cliquer sur le bouton suivant pour faire la simulation.</div>
            <button class="btn btn-primary" v-on:click="simuler(0)">Simuler</button>
          </div>
          <div class="my-2" v-if="step >= 0">
            Nom de l'élève ? <input v-if="step == 0" ref="nom" name="nom" type="text" v-model="nom"
              v-on:keydown.enter="simuler(1)"><span v-else>{{nom}}</span>
          </div>
          <div class="my-2" v-if="step >= 1">
            Moyenne annuelle ? <input v-if="step == 1" ref="moy" name="moy" type="text" v-model="moy"
              v-on:keydown.enter="simuler(2)"><span v-else>{{moy}}</span>
          </div>
          <div class="my-2" v-if="step >= 2 && disp_math">
            Moyenne mathématiques ? <input v-if="step == 2" ref="math" name="math" type="text" v-model="math"
              v-on:keydown.enter="simuler(3)"><span v-else>{{math}}</span>
          </div>
          <div class="my-2" v-if="step >= 3 && disp_info">
            Moyenne informatique ? <input v-if="step == 3" ref="info" name="info" type="text" v-model="info"
              v-on:keydown.enter="simuler(4)"><span v-else>{{info}}</span>
          </div>
          <div v-if="step >= 4">
            <div class="my-2">{{message}}</div>
          </div>
          <div class="my-2" v-if="step >= 4">
            <button class="btn btn-secondary" ref="restart" v-on:click="simuler(-1)">Reset</button>
          </div>
        </div>

        <h4>Travail demandé</h4>
        <ol>
          <li>Déterminer les données de ce problème.</li>
          <li>Déterminer les résultats de ce problème.</li>
          <li>Déterminer les traitements requis sur les données pour aboutir à ces résultats.</li>
          <li>Rédiger l'algorithme en utilisant le vocabulaire vu précédemment.</li>
        </ol>
      </section>
    </article>
  </main>
  <footer class="d-print-none bg-dark text-white p-2">
    <div class="text-center">Page créée avec ♥ par Mohamed Anis MANI</div>
    <div class="text-center small">Année scolaire : 2021/2022</div>
  </footer>

  <script src="resources/js/jquery.min.js"></script>
  <script src="resources/js/bootstrap.bundle.min.js"></script>
  <script src="resources/js/highlight.pack.js"></script>
  <script src="resources/js/hljs.algorithm.js"></script>
  <script src="resources/js/clipboard.min.js"></script>
  <script src="resources/js/pages.js"></script>
  <script src="resources/js/vue.min.js"></script>
  <script src="resources/apps/algorithme02.js"></script>
  <script>
    hljs.initHighlightingOnLoad();

    document.querySelectorAll('.language-algorithm,.language-python')
      .forEach(item => {
        const div = document.createElement('div');
        div.className = 'bd-clipboard d-print-none';
        const btn = document.createElement('button');
        btn.className = 'btn-clipboard';
        btn.textContent = "📋";
        btn.title = "Copier";
        div.appendChild(btn);
        item.parentElement.insertBefore(div, item);
      });
    new ClipboardJS('.btn-clipboard', {
      target: (trigger) => {
        return trigger.parentElement.nextElementSibling;
      }
    });
  </script>
</body>

</html>