<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="resources/css/bootstrap.min.css">
  <link rel="stylesheet" href="resources/css/default.css">
  <link rel="stylesheet" href="resources/css/style.css">
  <link rel="stylesheet" href="resources/css/module07.css">
  <title>Les Tableaux</title>
</head>

<body>
  <aside>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#aside_navbar"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="aside_navbar"></div>
    </nav>
  </aside>

  <main class="container my-3">
    <h1>Module 7 : Les Tableaux</h1>

    <article>
      <h2>Situations</h2>

      <section>
        <h3>Anniversaire de Yassine</h3>

        <p>A l'occasion de son anniversaire le petit Yassine va distribuer des petites boîtes surprises contenant des
          bonbons à ses amis.</p>
        <figure>
          <img src="images/module07/bonbon-box.webp" alt="Boîtes surprises bonbons">
          <figcaption>Boîtes surprises bonbons</figcaption>
        </figure>
        <p>Les boîtes ne contiennent pas un nombre équitable de bonbons car le petit Yassine a imaginé la méthode de
          distribution suivante de bonbons.</p>
        <p>Les boîtes sont numérotées de 0 à na-1, avec <code>na</code> étant le nombre d'amis de Yassine qui sont
          invités à l'anniversaire.</p>
        <p>Pour chaque bonbon l'enfant :</p>
        <ul>
          <li>tire un nombre au hazard, <code>nbh</code>, compris entre 0 et <code>na-1</code></li>
          <li>met le bonbon dans la boîte numéro <code>nbh</code></li>
        </ul>
        <div class="d-print-none">
          <div id="anniv" class="my-3">
            <div class="params">
              <div class="nb-bonbons">{{nb}}</div>
              <div class="nb-amis">{{na}}</div>
            </div>
            <div class="range">
              <input type="range" name="nb" min="10" max="200" step="5" v-model="nb">
              <input type="range" name="na" min="3" max="10" step="1" v-model="na">
            </div>
            <div class="bonbons-dispo">
              {{bonbons}}
            </div>
            <div class="boxes">
              <div class="box" v-bind:class="{'selected': selectedBox == idx}" v-for="box, idx in boxes"
                v-bind:data-index="idx">{{box}}</div>
            </div>
            <div class="text-center">
              <button class="btn btn-primary" v-bind:disabled="bonbons == 0" v-on:click="mettreBonbon()">Mettre un
                bonbon</button>
              <button class="btn btn-primary" v-bind:disabled="bonbons == 0" v-on:click="distribuerBonbons()">Distribuer
                tous les bonbons</button>
              <button class="btn btn-primary" v-bind:disabled="bonbons != 0"
                v-on:click="reinitialiser()">Réinitialiser</button>
            </div>
          </div>
        </div>
        <p>Pour quelques bonbons le jeu semble amuser l'enfant, mais très vite le petit se lasse et il ne veut plus
          continuer son jeu.</p>
        <p>Observant son petit frère, Youssef, un lycéen en 2TI a décidé de l'aider. Pour celà, il a pensé à écrire un
          programme qui :</p>
        <ul>
          <li>Lit le nombre total de bonbons à distribuer, 10 &le; nb &le; 200</li>
          <li>Lit le nombre d'amis invités, 3 &le; na &le; 10</li>
          <li>Calcule, puis affiche le nombre de bonbons à mettre dans chacune des boîtes.</li>
        </ul>
        <pre><code class="nohighlight shell python" data-text="Exemple">Nombre de bonbons [10, 200] ? 30
Nombre d'amis [3, 10] ? 5
Boîte 0 contient 4 bonbons.
Boîte 1 contient 8 bonbons.
Boîte 2 contient 6 bonbons.
Boîte 3 contient 5 bonbons.
Boîte 4 contient 7 bonbons.</code></pre>
      </section>

      <section>
        <h3>Top five gamers</h3>

        <p>Certains petits jeux tels que Tetris et le jeu de serpent conservent une liste des cinq meilleurs scores.</p>
        <p>Les meilleurs scores sont stockés dans un tableau de 5 cases <code>scores</code>.</p>
        
      </section>
    </article>
  </main>
  <footer class="d-print-none bg-dark text-white p-2">
    <div class="text-center">Page créée avec ♥ par Mohamed Anis MANI</div>
    <div class="text-center small">Année scolaire : 2021/2022</div>
  </footer>

  <script src="resources/js/jquery.min.js"></script>
  <script src="resources/js/bootstrap.bundle.min.js"></script>
  <script src="resources/js/highlight.pack.js"></script>
  <script src="resources/js/hljs.algorithm.js"></script>
  <script src="resources/js/clipboard.min.js"></script>
  <script src="resources/js/pages.js"></script>
  <script src="resources/js/vue.min.js"></script>
  <script src="resources/apps/module07.js"></script>
  <script>
    hljs.initHighlightingOnLoad();

    document.querySelectorAll('.language-algorithm,.language-python')
      .forEach(item => {
        const div = document.createElement('div');
        div.className = 'bd-clipboard d-print-none';
        const btn = document.createElement('button');
        btn.className = 'btn-clipboard';
        btn.textContent = "📋";
        btn.title = "Copier";
        div.appendChild(btn);
        item.parentElement.insertBefore(div, item);
      });
    new ClipboardJS('.btn-clipboard', {
      target: (trigger) => {
        return trigger.parentElement.nextElementSibling;
      }
    });
  </script>
</body>

</html>