<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="resources/css/bootstrap.min.css">
  <link rel="stylesheet" href="resources/css/default.css">
  <link rel="stylesheet" href="resources/css/style.css">
  <link rel="stylesheet" href="resources/css/module07.css">
  <title>Les Tableaux</title>
</head>

<body>
  <aside>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#aside_navbar"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="aside_navbar"></div>
    </nav>
  </aside>

  <main class="container my-3">
    <h1>Module 7 : Les Tableaux</h1>

    <article>
      <h2>Situations</h2>

      <section>
        <h3>Pairs / Impairs</h3>
        <p>Ahmed a conçu un petit jeu pour sa s&oelig;ur Sarra.</p>
        <figure>
          <img src="images/module07/pair-impair.jpg" alt="Nombres pairs et nombres impairs" class="h5cm">
          <figcaption>Nombres pairs et nombres impairs</figcaption>
        </figure>
        <p>L'ordinateur présente à la petite <code>n</code> nombres (<code>5 &le; n &le; 15</code>) choisis au hasard
          entre 1 et 40.</p>
        <p>Et Sarra doit les classer en deux groupes :</p>
        <ul>
          <li>Les nombres pairs ensembles.</li>
          <li>Les nombres impairs ensembles.</li>
        </ul>
        <p>Après que la petite réponde le programme lui donne la correction.</p>
        <div class="row">
          <div class="col-6">
            <p><strong>Exemple 1 : </strong> Pour <code>n = 10</code> et les nombres suivants :</p>
            <table width="80%" class="m-auto col-10 text-center">
              <tr>
                <script>
                  let t = [1, 31, 8, 5, 15, 19, 2, 37, 36, 25];
                  document.write("<tr>");
                  for (let v of t) {
                    document.write("<td class=\"border border-dark\">", v, "</td>");
                  }
                  document.write("</tr><tr>");
                  for (let i = 0; i < t.length; i++) {
                    document.write("<td>", i, "</td>");
                  }
                  document.write("</tr>");
                </script>
              </tr>
            </table>
            <p><strong>Le programme affiche :</strong></p>
            <pre><code class="nohighlight">Liste des nombres impairs : <script>let i = 0;
              for (let v of t) {
                if (v % 2 != 0) {
                  if (i > 0) {
                    document.write(',');
                  }
                  document.write(v);
                  i++;
                }
              }</script>
Liste des nombres pairs : <script>i = 0;
  for (let v of t) {
    if (v % 2 == 0) {
      if (i > 0) {
        document.write(',');
      }
      document.write(v);
      i++;
    }
  }</script></code></pre>
          </div>
          <div class="col-6">
            <p><strong>Exemple 2 : </strong> Pour <code>n = 5</code> et les nombres suivants :</p>
            <table width="80%" class="m-auto col-10 text-center">
              <tr>
                <script>
                  t = [16, 25, 14, 5, 24];
                  document.write("<tr>");
                  for (let v of t) {
                    document.write("<td class=\"border border-dark\">", v, "</td>");
                  }
                  document.write("</tr><tr>");
                  for (let i = 0; i < t.length; i++) {
                    document.write("<td>", i, "</td>");
                  }
                  document.write("</tr>");
                </script>
              </tr>
            </table>
            <p><strong>Le programme affiche :</strong></p>
            <pre><code class="nohighlight">Liste des nombres impairs : <script>i = 0;
              for (let v of t) {
                if (v % 2 != 0) {
                  if (i > 0) {
                    document.write(',');
                  }
                  document.write(v);
                  i++;
                }
              }</script>
Liste des nombres pairs : <script>i = 0;
  for (let v of t) {
    if (v % 2 == 0) {
      if (i > 0) {
        document.write(',');
      }
      document.write(v);
      i++;
    }
  }</script></code></pre>
          </div>
        </div>
        <h4>Travail demandé</h4>
        <ol>
          <li><strong>Quels sont les objets nécessaires pour résoudre ce problème ? Tracer le TDO.</strong>
            <div class="d-none d-print-block">
              <p>Dans ce problème nous nous connaissons pas le nombre exact de valeurs à classer. Aussi, le nombre de
                valeurs à classer est plus important que les exercices précédents.</p>
              <p>Il n'est pas facile de créer et de gérer 15 variables le programme deviendra très difficile à écrire et
                à comprendre.</p>
              <p>&rArr; Il est conseillé dans notre cas d'utiliser des <strong>tableaux</strong> pour recueillir
                l'ensemble des informations.</p>
              <p>Pour ce problème nous avons besoin des objets suivants :</p>
              <ul>
                <li><code>n</code> : le nombre de valeurs à classer.</li>
                <li><code>t</code> : les valeurs à classer doivent être mises dans un tableau nommé <code>t</code> car
                  il n'est pas logique de créer et de gérer 15 variables.</li>
                <li><code>tp, ti</code> : les valeurs paires et les valeurs impaires seront, aussi, stockées dans deux
                  tableaux différents.</li>
                <li><code>np, ni</code> : le nombre de valeurs paires et le nombre de valeurs impaires.</li>
              </ul>
              <div class="row p-break">
                <div class="col-6">
                  <p class="text-center"><b>TDO</b></p>
                  <table width="80%" class="m-auto text-center">
                    <tr>
                      <th class="border border-dark">Objet</th>
                      <th class="border border-dark">Type/Nature</th>
                    </tr>
                    <tr>
                      <td class="border border-dark">n, np, ni</td>
                      <td class="border border-dark">entier</td>
                    </tr>
                    <tr>
                      <td class="border border-dark">t, tp, ti</td>
                      <td class="border border-dark">tab</td>
                    </tr>
                  </table>
                  <p class="text-center"><b>TDNT</b></p>
                  <table width="80%" class="m-auto text-center">
                    <tr>
                      <th class="border border-dark">Type</th>
                    </tr>
                    <tr>
                      <td class="border border-dark">tab = Tableau de 15 entier</td>
                    </tr>
                  </table>
                </div>
                <div class="col-6">
                  <p>Déclaration des tableaux en Python</p>
                  <pre><code class="python">import numpy as np
t = np.array([0]*15)
tp = np.array([0]*15)
ti = np.array([0]*15)</code></pre>
                </div>
              </div>
            </div>
          </li>
          <li><strong>Ecrire l'algorithme du programme ci-dessus.</strong></li>
        </ol>
      </section>
      <section>
        <h3>Correction Pair / Impair</h3>
        <div class="row">
          <div class="col-6">
            <h4>Algorithme</h4>
            <pre><code class="algorithm">Programme Pair_Impair
Début
  // Saisie de n (5 ≤ n ≤ 15)
  Répéter
    Ecrire("Donner n [5, 15] ? ")
    Lire(n)
  Jusqu'à (5 ≤ n ≤ 15)
  
  
  
  // Remplir le tableau t de valeurs aléatoires
  Pour i de 0 à n-1 faire
    t[i] &larr; aléa(1, 40)
  Fin Pour
  // Afficher les valeurs du tableau
  Ecrire("Classer les nombres : pairs/impairs")
  Pour i de 0 à n-1 faire
    Ecrire(t[i])
  Fin Pour
  // Classer les valeurs
  ni &larr; 0
  np &larr; 0
  Pour i de 0 à n-1 Faire
    Si t[i] mod 2 = 0 Alors
      tp[np] &larr; t[i]
      np &larr; np + 1
    Sinon
      ti[ni] &larr; t[i]
      ni &larr; ni + 1
    Fin Si
  Fin Pour
  // Afficher les nombres impairs
  Ecrire("Liste des nombres impairs")
  Pour i de 0 à ni-1 Faire
    Ecrire(ti[i])
  Fin Pour
  // Afficher les nombres pairs
  Ecrire("Liste des nombres pairs")
  Pour i de 0 à np-1 Faire
    Ecrire(tp[i])
  Fin Pour
Fin</code></pre>
          </div>
          <div class="col-6">
            <h4>Python</h4>
            <pre><code class="python">from random import randint
from numpy import array
# Saisie de n (5 ≤ n ≤ 15)
n = 0
while not (5 <= n <= 15):
    n= int(input("Donner n [5, 15] ? "))
# Déclaration des tableaux
t = array([0]*15)
tp = array([0]*15)
ti = array([0]*15)
# Remplir le tableau t de valeurs aléatoires
for i in range(n):
    t[i] = randint(1, 40)

# Afficher les valeurs du tableau
print("Classer les nombres : pairs/impairs")
for i in range(n):
    print(t[i])

# Classer les valeurs
ni = 0
np = 0
for i in range(n):
    if t[i] % 2 == 0:
        tp[np] = t[i]
        np = np + 1
    else:
        ti[ni] = t[i]
        ni = ni + 1


# Afficher les nombres impairs
print("Liste des nombres impairs")
for i in range(ni):
    print(ti[i])

# Afficher les nombres pairs
print("Liste des nombres pairs")
for i in range(np):
    print(tp[i])

 </code></pre>
          </div>
        </div>
      </section>

      <section>
        <h3>Tableaux</h3>
        <h4>Définition</h4>
        <p>Un tableau est une structure de données qui est utilisée pour stocker <u>plusieurs valeurs de même type</u>.
        </p>
        <p>Les éléments d'un tableau sont <u>accessibles</u> grâce à leurs <strong>indices</strong>, commençant du zéro.
        </p>
        <h4>Exemple</h4>
        <p>Soit le tableau suivant :</p>
        <table class="table table-borderless table-sm col-5 m-auto small" style="width: 300px;">
          <tbody>
            <tr>
              <td>tn</td>
              <td class="border border-dark">Amine</td>
              <td class="border border-dark">Israa</td>
              <td class="border border-dark">Sirine</td>
              <td class="border border-dark">Eya</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>0</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>
        <ul>
          <li>Quel est le nom de ce tableaux ?</li>
          <li>Quel est le nombre de ces éléments ?</li>
          <li>Quel est le type de chacun de ces éléments ?</li>
        </ul>
        <h4>Déclaration en algorithme</h4>
        <p>En algorithme, un tableau est déclaré dans le TDO. Puis, dans le TDNT.</p>
        <div class="row">
          <div class="col-6">
            <p class="text-center"><b>TDO</b></p>
            <table width="80%" class="m-auto text-center">
              <tr>
                <th class="border border-dark">Objet</th>
                <th class="border border-dark">Type/Nature</th>
              </tr>
              <tr>
                <td class="border border-dark">nom_tableau</td>
                <td class="border border-dark"><span class="text-info">type_tableau</span></td>
              </tr>
            </table>
          </div>
          <div class="col-6">
            <p class="text-center"><b>TDNT</b></p>
            <table width="80%" class="m-auto text-center">
              <tr>
                <th class="border border-dark">Type</th>
              </tr>
              <tr>
                <td class="border border-dark"><span class="text-info">type_tableau</span> = Tableau de <span
                    class="text-danger">x</span> <span class="text-success">type</span></td>
              </tr>
            </table>
          </div>
          <h5>Exemple</h5>
          <p>Pour déclarer le tableau <code>tn</code> utilisé précedemment on écrit :</p>
          <div class="row">
            <div class="col-6">
              <p class="text-center"><b>TDO</b></p>
              <table width="80%" class="m-auto text-center">
                <tr>
                  <th class="border border-dark">Objet</th>
                  <th class="border border-dark">Type/Nature</th>
                </tr>
                <tr>
                  <td class="border border-dark">tn</td>
                  <td class="border border-dark"><span class="text-info">tab_ch</span></td>
                </tr>
              </table>
            </div>
            <div class="col-6">
              <p class="text-center"><b>TDNT</b></p>
              <table width="80%" class="m-auto text-center">
                <tr>
                  <th class="border border-dark">Type</th>
                </tr>
                <tr>
                  <td class="border border-dark"><span class="text-info">tab_ch</span> = Tableau de <span
                      class="text-danger">4</span> <span class="text-success">chaine</span></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <h4>Déclaration en Python</h4>
        <p>En Python, il faut utiliser la fonction <code>array</code> bibliothèque <code>numpy</code> pour déclarer un
          tableau.</p>
        <h5>Exemple</h5>
        <p>Pour déclarer le tableau <code>tn</code> utilisé précedemment on écrit :</p>
        <pre><code class="python">from numpy import array
tn = array([str]*4)     # tableau de 4 chaînes
te = array([int()]*10)  # tableau de 10 entiers
tf = array([float()]*6) # tableau de 6 réels
tb = array([bool()]*20) # tableau de 20 booléens</code></pre>
        <h4>Accès aux éléments</h4>
        <p>L'accès à un élément d'un tableau se fait à l'aide de son indice dans le tableau.</p>
        <h5>Exemples</h5>
        <p>Pour remplir le tableau <code>tn</code> on peut écrire :</p>
        <div class="row">
          <div class="col-6">
            <pre><code class="algorithm">tn[0] &larr; "Amine"
tn[1] &larr; "Israa"
tn[2] &larr; "Sirine"
tn[3] &larr; "Eya"</code></pre>
          </div>
          <div class="col-6">
            <pre><code class="python">tn[0] = "Amine"
tn[1] = "Israa"
tn[2] = "Sirine"
tn[3] = "Eya"</code></pre>
          </div>
        </div>


        <p>Un tableau peut être, aussi, rempli par des valeurs saisies par l'utilisateur.</p>
        <div class="row">
          <div class="col-6">
            <pre><code class="algorithm">Pour i de 0 à 3 Faire
  Ecrire("Nom de la ", i, "ème personne ? ")
  Lire(tn[i])
Fin Pour</code></pre>
          </div>
          <div class="col-6">
            <pre><code class="python">for i in range(4):
  tn[i] = input("Nom de la " + str(i) + 
                " ème personne ? ")
 </code></pre>
          </div>
        </div>


        <p>Pour afficher le contenu du tableau <code>tn</code> on peut écrire :</p>
        <div class="row">
          <div class="col-6">
            <pre><code class="algorithm">Ecrire(tn[0])
Ecrire(tn[1])
Ecrire(tn[2])
Ecrire(tn[3])</code></pre>
          </div>
          <div class="col-6">
            <pre><code class="python">print(tn[0])
print(tn[1])
print(tn[2])
print(tn[3])</code></pre>
          </div>
        </div>

        <p>On peut aussi utiliser une boucle :</p>
        <div class="row">
          <div class="col-6">
            <pre><code class="algorithm">Pour i de 0 à 3 Faire
  Ecrire(tn[i])
Fin Pour</code></pre>
          </div>
          <div class="col-6">
            <pre><code class="python">for i in range(4):
  print(tn[i])
 </code></pre>
          </div>
        </div>

      </section>
      <section>
        <h3>Anniversaire de Yassine</h3>

        <p>A l'occasion de son anniversaire le petit Yassine va distribuer des petites boîtes surprises contenant des
          bonbons à ses amis.</p>
        <figure>
          <img src="images/module07/bonbon-box.webp" alt="Boîtes surprises bonbons" class="h3cm">
          <figcaption>Boîtes surprises bonbons</figcaption>
        </figure>
        <p>Les boîtes ne contiennent pas un nombre équitable de bonbons car le petit Yassine a imaginé la méthode de
          distribution suivante de bonbons.</p>
        <p>Les boîtes sont numérotées de 0 à na-1, avec <code>na</code> étant le nombre d'amis de Yassine qui sont
          invités à l'anniversaire.</p>
        <p>Pour chaque bonbon l'enfant :</p>
        <ul>
          <li>tire un nombre au hazard, <code>nbh</code>, compris entre 0 et <code>na-1</code></li>
          <li>met le bonbon dans la boîte numéro <code>nbh</code></li>
        </ul>
        <div class="d-print-none">
          <div id="anniv" class="my-3">
            <div class="params">
              <div class="nb-bonbons">{{nb}}</div>
              <div class="nb-amis">{{na}}</div>
            </div>
            <div class="range">
              <input type="range" name="nb" min="10" max="200" step="5" v-model="nb">
              <input type="range" name="na" min="3" max="10" step="1" v-model="na">
            </div>
            <div class="bonbons-dispo">
              {{bonbons}}
            </div>
            <div class="boxes">
              <div class="box" v-bind:class="{'selected': selectedBox == idx}" v-for="box, idx in boxes"
                v-bind:data-index="idx">{{box}}</div>
            </div>
            <div class="text-center">
              <button class="btn btn-primary" v-bind:disabled="bonbons == 0" v-on:click="mettreBonbon()">Mettre un
                bonbon</button>
              <button class="btn btn-primary" v-bind:disabled="bonbons == 0" v-on:click="distribuerBonbons()">Distribuer
                tous les bonbons</button>
              <button class="btn btn-primary" v-bind:disabled="bonbons != 0"
                v-on:click="reinitialiser()">Réinitialiser</button>
            </div>
          </div>
        </div>
        <p>Pour quelques bonbons le jeu semble amuser l'enfant, mais très vite le petit se lasse et il ne veut plus
          continuer son jeu.</p>
        <p>Observant son petit frère, Youssef, un lycéen en 2TI a décidé de l'aider. Pour celà, il a pensé à écrire un
          programme qui :</p>
        <ul>
          <li>Lit le nombre total de bonbons à distribuer, 10 &le; nb &le; 200</li>
          <li>Lit le nombre d'amis invités, 3 &le; na &le; 10</li>
          <li>Calcule, puis affiche le nombre de bonbons à mettre dans chacune des boîtes.</li>
        </ul>
        <pre><code class="nohighlight shell python" data-text="Exemple">Nombre de bonbons [10, 200] ? 30
Nombre d'amis [3, 10] ? 5
Boîte 0 contient 4 bonbons.
Boîte 1 contient 8 bonbons.
Boîte 2 contient 6 bonbons.
Boîte 3 contient 5 bonbons.
Boîte 4 contient 7 bonbons.</code></pre>
        <div class="d-none d-print-block">
          <h4 class="p-break">Correction</h4>
          <pre><code class="python">from random import randint
from numpy import array
nb = 0
while not 10 &lt;= nb &lt;= 200:
    nb = int(input("Nombre de bonbons [10, 200] ? "))
na = 0
while not 3 &lt;= na &lt;= 10:
    na = int(input("Nombre d'amis [3, 10] ? "))
boite = array([0]*na)
for i in range(nb):
    nbh = randint(0, na-1)
    boite[nbh] = boite[nbh] + 1
for i in range(na):
    print(f"Boîte {i} contient {boite[i]} bonbons.")</code></pre>
        </div>
      </section>

      <section>
        <h3>Tombola</h3>

        <h4>Principe</h4>

        <div>
          <figure>
            <img src="images/module07/image-tombola.png" alt="Tombola" class="h3cm">
            <figcaption>Tombola</figcaption>
          </figure>
        </div>

        <p>A l'occasion de son anniversaire, une entreprise organise un Tombola pour ces employés. Tous les employés
          peuvent
          s'inscrire au Tombola sans frais dans le but de gagner des prix de valeur.</p>

        <div class="d-print-none">
          <h4>Simulation</h4>

          <div id="ex1" class="border border-dark p-2 bg-light">
            <div class="my-1" v-if="etape >= 0">
              <label for="nb_prix">Donner le nombre de prix (1 &le; np &le; 10) ? </label>
              <input v-if="etape == 0" type="number" name="nb_prix" id="nb_prix" v-model.number="np" min="1" max="10"
                step="1">
              <span v-if="etape != 0">{{np}}</span>
              <button class="btn btn-primary" v-if="etape == 0" v-on:click="onValiderEtape(0)"
                v-bind:disabled="np < 1 || np > 10">Valider</button>
            </div>

            <div v-if="etape >= 1">
              <div class="my-1"><strong>Liste des prix</strong></div>
              <div class="my-1" v-for="(pr, i) in prix">
                <label v-bind:for="'prix_' + i">{{i+1}}{{(i==0) ? 'er' : 'ème'}} prix ? </label>
                <input v-if="etape == 1" type="text" v-bind:name="'prix_' + i" v-bind:id="'prix_' + i"
                  v-model="prix[i]">
                <span v-if="etape != 1">{{pr}}</span>
              </div>
              <button class="btn btn-primary" v-if="etape == 1" v-on:click="onValiderEtape(1)">Valider</button>
            </div>

            <div class="my-1" v-if="etape >= 2">
              <label for="nb_parts">Donner le nombre de participants ({{np}} &le; n &le; 20) ? </label>
              <input v-if="etape == 2" type="number" name="nb_parts" id="nb_parts" v-model.number="n" v-bind:min="np"
                max="20" step="1">
              <span v-if="etape != 2">{{n}}</span>
              <button class="btn btn-primary" v-if="etape == 2" v-on:click="onValiderEtape(2)"
                v-bind:disabled="n < np || n > 20">Valider</button>
            </div>

            <div v-if="etape >= 3">
              <div class="my-1"><strong>Noms des participants</strong></div>
              <div class="my-1" v-for="(nom, i) in noms">
                <label v-bind:for="'nom_' + i">Nom du {{i+1}}{{(i==0) ? 'er' : 'ème'}} participant ? </label>
                <input v-if="etape == 3" type="text" v-bind:name="'nom_' + i" v-bind:id="'nom_' + i" v-model="noms[i]">
                <span v-if="etape != 3">{{nom}}</span>
              </div>
              <button class="btn btn-primary" v-if="etape == 3" v-on:click="onValiderEtape(3)">Valider</button>
            </div>

            <div v-if="etape >= 4">
              <div class="my-1"><strong>Liste des gagnants</strong></div>
              <div class="my-1" v-for="(cadeau, i) in cadeaux">
                <strong>{{cadeau}}</strong> gagne <strong>{{prix[i]}}</strong>
              </div>
              <button class="btn btn-primary d-print-none" v-if="etape == 4"
                v-on:click="onValiderEtape(-1)">Rejouer</button>
            </div>
          </div>
        </div>

        <p>On demande d'écrire un programme qui :</p>
        <ul>
          <li>Saisit le nombre de prix (1 ≤ np ≤ 10)</li>
          <li>Saisit les noms des prix</li>
          <li>Saisit le nombre de participants (np ≤ n ≤ 20)</li>
          <li>Saisit les noms des participants</li>
          <li>Effectue le tirage aux sorts</li>
          <li>Affiche le nom des gagnants ainsi que leurs prix</li>
        </ul>

        <p>Pour simplifier la résolution de ce problème on peut, par exemple :</p>
        <ul>
          <li>Stocker les noms des <code>np</code> prix dans un tableau <code>prix</code></li>
          <li>Stocker les noms des <code>n</code> participants dans un second tableau <code>noms</code></li>
          <li>Mélanger l'ordre des participants d'une manière aléatoire</li>
          <li>Prendre les <code>np</code> premiers participants</li>
        </ul>

        <div class="d-none d-print-block">
          <h4 class="p-break">Solution</h4>
          <pre><code class="python">from random import randint
# Saisie du nombre de prix
while not 1 &lt;= np &lt;= 10:
    np = int(input("Donner le nombre de prix (1 ≤ np ≤ 10) ? "))
# Déclaration du tableau des prix
prix = [""] * np
# Saisie des prix
for i in range(np):
    prix[i] = input(f"Donner le nom du {i+1}ème prix ? ")
# Saisie du nombre de participants
while not np &lt;= n &lt;= 20:
    n = int(input(f"Donner le nombre de participants ({np} ≤ n ≤ 20) ? "))
# Déclaration du tableau de participants
noms = [""] * n
# Saisie des noms des participants
for i in range(n):
    noms[i] = input(f"Donner le nom du {i+1}ème participant ? ")
# Mélanger l'ordre des noms
for i in range(n):
    j = randint(0, n-1)
    noms[i], noms[j] = noms[j], noms[i]
# Affichage des gagnants
for i in range(np):
    print(noms[i], "gagne", prix[i])</code></pre>
        </div>
      </section>

      <section>
        <h3>Rappel</h3>
        <p>Répondre en algorithmique et en Python aux questions suivantes :</p>
        <ol>
          <li>Déclarer un tableau <code>t</code> de 20 réels. (TDNT + TDO)</li>
          <li>Saisir la taille <code>n</code> du tableau <code>t</code>. <code>2 &le; n &le; 30</code></li>
          <li>Remplir le tableau avec <code>n</code> réels compris dans l'intervalle [0, 20].</li>
          <li>Chercher, puis afficher, le nombre de valeurs du tableau <code>t</code> qui sont supérieurs ou égaux à 0.
          </li>
          <li>Calculer, puis afficher, la moyenne du tableau <code>t</code>.</li>
          <li>Calculer, puis afficher, les valeurs minimale et maximale du tableau <code>t</code>.</li>
        </ol>
      </section>
    </article>

    <article>
      <h2>Renforcement</h2>

      <section>
        <h3>Inversion Tableau</h3>
        <p>Ecrire un programme qui permet d'inverser les éléments d’un tableau t de n entiers (n≥2).</p>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Donner la taille du tableau (>=2) : 7
t [ 0 ]= 11
t [ 1 ]= 2
t [ 2 ]= 33
t [ 3 ]= 5
t [ 4 ]= 6
t [ 5 ]= 7
t [ 6 ]= 1
Tableau inversé : 1, 7, 6, 5, 33, 2, 11,</code></pre>
      </section>

      <section>
        <h3>Extrêmums d'un tableau</h3>
        <p>Ecrire un programme qui permet d’afficher le maximum et le minimum dans un tableau t de n entiers (n≥2).</p>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Donner la taille du tableau (>=2) : 5
t [ 0 ]= 11
t [ 1 ]= 2
t [ 2 ]= 33
t [ 3 ]= 4
t [ 4 ]= 67
Minimum : 2 - Maximum : 67</code></pre>
      </section>

      <section>
        <h3>Eclatement selon le signe</h3>
        <p>Ecrire un programme qui permet de remplir un tableau t par n entiers non nuls (n≥2) et d'éclater
          en deux tableaux : tn (contenant les éléments négatifs de t) et tp (contenant les éléments positifs
          de t).</p>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Donner la taille du tableau (>=2) : 10
t [ 0 ]= 3
t [ 1 ]= 2
t [ 2 ]= -5
t [ 3 ]= 4
t [ 4 ]= -7
t [ 5 ]= -8
Positifs : 3, 2, 4,
Négatifs : -5, -7, -8,</code></pre>
      </section>

      <section>
        <h3>Somme des carrés des chiffres</h3>
        <p>Ecrire un programme qui permet de saisir les éléments d'un tableau t de n entiers de trois chiffres
          (n≥2) et de remplir un tableau t2 de la façon suivante : les éléments de t2 sont égaux à la somme
          des carrés des chiffres de t1.</p>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Donner la taille du tableau (>=2) : 6
t1 [ 0 ]= 254
t1 [ 1 ]= 121
t1 [ 2 ]= 133
t1 [ 3 ]= 325
t1 [ 4 ]= 150
t1 [ 5 ]= 222
t2 : 45, 6, 19, 38, 26, 12,</code></pre>
      </section>

      <section>
        <h3>Première occurence</h3>
        <p>Ecrire un programme qui permet de remplir un tableau t par n entiers non nuls (n≥2), de garder la
          première occurrence de chaque élément.</p>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Donner la taille du tableau (>=2) : 10
t [ 0 ]= 10
t [ 1 ]= 7
t [ 2 ]= 9
t [ 3 ]= 7
t [ 4 ]= 10
t [ 5 ]= 7
t [ 6 ]= 7
t [ 7 ]= 8
t [ 8 ]= 8
t [ 9 ]= 8
Le résultat est : 10, 7, 9, 8,</code></pre>
      </section>

      <section>
        <h3>Vas et viens</h3>
        <p>Soient t1 et t2 deux tableaux d’entiers de taille n (n≥2).
          Ecrire un programme qui permet de transférer les éléments de t1 et t2 selon le principe suivant :
          Les éléments de rang impair de t1 seront rangés dans t2 en ordre inverse (de droite à gauche) et
          les éléments de rang pair de t1 seront rangés dans t2 (de gauche à droite).</p>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Donner la taille du tableau (>=2) : 9
t1 [ 0 ]= 12
t1 [ 1 ]= 13
t1 [ 2 ]= 41
t1 [ 3 ]= 5
t1 [ 4 ]= 19
t1 [ 5 ]= 13
t1 [ 6 ]= 4
t1 [ 7 ]= 8
t1 [ 8 ]= 15
t2 : 12, 41, 19, 4, 15, 8, 13, 5, 13,</code></pre>
      </section>

      <section>
        <h3>Intersection de deux tableaux</h3>
        <p>Ecrire un programme qui permet de ranger et d’afficher les éléments qui figurent dans les deux
          tableaux de n entiers a et b (n≥2).</p>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Donner la taille du tableau (>=2) : 4
A[ 0 ]= 1
A[ 1 ]= 2
A[ 2 ]= 4
A[ 3 ]= 7
B[ 0 ]= 7
B[ 1 ]= 3
B[ 2 ]= 2
B[ 3 ]= 1
Les éléments communs sont : 1, 2, 7,</code></pre>
      </section>

      <section>
        <h3>Le marchand de légumes</h3>
        <p>Le marchand de légumes vend les pommes dans des sacs de la façon suivante :</p>
        <ul>
          <li>Des sacs d'une seule pomme,</li>
          <li>Des sacs de deux pommes,</li>
          <li>Des sacs de quatre pommes,</li>
          <li>Des sacs de huit pommes,</li>
          <li>Des sacs de seize pommes,</li>
        </ul>
        <p>Le marchand refuse de vendre deux sacs qui contiennent le même nombre de pommes à un seul client.</p>
        <ol>
          <li>Calculer le nombre minimal de sacs achetés par les clients suivants :
            <ul>
              <li>Islem veut 14 pommes,</li>
              <li>Ayoub veut 3 pommes,</li>
              <li>Alaa veut 8 pommes,</li>
              <li>Amine veut 10 pommes.</li>
            </ul>
          </li>
          <li>Ecrire le programme qui calcule le nombre de sacs nécessaires pour satisfaire la commande d'un client
            donné.</li>
        </ol>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Nombre de pommes : 25
un sac de 1 pommes
un sac de 8 pommes
un sac de 16 pommes</code></pre>
      </section>

      <section>
        <h3>Conversion de la base 10 à la base 16</h3>

        <p>Ecrire un programme qui saisit un nombre n compris entre 0 et 255 et le convertit en hexadécimal.</p>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Nombre à convertir : 241
241(10) = F1(16)</code></pre>
      </section>

      <section>
        <h3>Fusion de deux tableaux de même longueur</h3>
        <p>Ecrire un programme qui fusionne deux tableaux t1 et t2, de même longueur n dans un troisième
          tableau t3 de longueur n3 = 2 * n.</p>
        <p>La fusion se fera de la façon suivante :</p>
        <ul>
          <li>Placer les éléments de t1 dans des cases impaires de t3</li>
          <li>Placer les éléments de t2 dans des cases paires de t3</li>
        </ul>
        <div class="row">
          <div class="col-3">
            <table class="table table-sm table-borderless">
              <tbody>
                <tr>
                  <td>t1</td>
                  <td class="border border-dark text-danger">9</td>
                  <td class="border border-dark text-danger">2</td>
                  <td class="border border-dark text-danger">4</td>
                  <td class="border border-dark text-danger">7</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>0</td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-3">
            <table class="table table-sm table-borderless">
              <tbody>
                <tr>
                  <td>t2</td>
                  <td class="border border-dark text-success">7</td>
                  <td class="border border-dark text-success">3</td>
                  <td class="border border-dark text-success">2</td>
                  <td class="border border-dark text-success">1</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>0</td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-6">
            <table class="table table-sm table-borderless">
              <tbody>
                <tr>
                  <td>t3</td>
                  <td class="border border-dark text-success">7</td>
                  <td class="border border-dark text-danger">9</td>
                  <td class="border border-dark text-success">3</td>
                  <td class="border border-dark text-danger">2</td>
                  <td class="border border-dark text-success">2</td>
                  <td class="border border-dark text-danger">4</td>
                  <td class="border border-dark text-success">1</td>
                  <td class="border border-dark text-danger">7</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>0</td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Taille du tableau t1 (>=2) : 4
t1[ 0 ]= 9
t1[ 1 ]= 2
t1[ 2 ]= 4
t1[ 3 ]= 7
t2[ 0 ]= 7
t2[ 1 ]= 3
t2[ 2 ]= 2
t2[ 3 ]= 1
t3 : 7, 9, 3, 2, 2, 4, 1, 7</code></pre>
      </section>

      <section>
        <h3>Fusion de tableaux selon leurs parités</h3>
        <p>Ecrire un programme qui fusionne deux tableaux t1 et t2, de longueur n1 et n2 différentes, dans un troisième
          tableau t3 de longueur n3 = n1 + n2.</p>
        <p>La fusion se fera de la façon suivante :</p>
        <ul>
          <li>Placer les éléments pairs de t1, puis les éléments pairs de t2</li>
          <li>Placer les éléments impairs de t1 et enfin les éléments impairs de t2</li>
        </ul>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Taille du tableau t1 (>=2) : 4
t1[ 0 ]= 9
t1[ 1 ]= 2
t1[ 2 ]= 4
t1[ 3 ]= 7
Taille du tableau t2 (>=2) : 7
t2[ 0 ]= 7
t2[ 1 ]= 3
t2[ 2 ]= 2
t2[ 3 ]= 1
t2[ 4 ]= 5
t2[ 5 ]= 8
t2[ 6 ]= 4
t3 : 2, 4, 2, 8, 4, 9, 7, 7, 3, 1, 5</code></pre>
      </section>

      <section>
        <h3>Segmentation d'un tableau</h3>

        <p>Ecrire un programme qui segmente un tableau t de n entiers de la façon suivante :</p>
        <ul>
          <li>Les éléments inférieurs à t[0] sont placés au début du tableau</li>
          <li>Les éléments supérieurs à t[0] sont placés à la fin du tableau</li>
          <li>L'élément t[0] est placé au milieu du tableau</li>
        </ul>
        <p>Les nombres du tableau sont des nombres aléatoires compris entre 1 et 999.</p>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Taille du tableau t (>=2) : 10
Avant segmentation :  [203, 32, 515, 19, 762, 762, 884, 157, 459, 337]
Après segmentation :  [19, 32, 157, 203, 762, 884, 762, 459, 337, 515]</code></pre>
        <p><strong>Explication :</strong></p>
        <p>
          <span>203</span>
          <span class="text-danger">32</span>
          <span class="text-success">515</span>
          <span class="text-danger">19</span>
          <span class="text-success">762</span>
          <span class="text-success">762</span>
          <span class="text-success">884</span>
          <span class="text-danger">157</span>
          <span class="text-success">459</span>
          <span class="text-success">337</span>
        </p>
        <p>Les éléments inférieurs à 203 sont en <span class="text-danger">rouge</span></p>
        <p>Les éléments supérieurs à 203 sont en <span class="text-success">vert</span></p>
      </section>

      <section>
        <h3>Station de services la plus proche</h3>
        <p>Un automobiliste en manque de carburant veut aller à la station de services la plus proche pour faire le
          plein.</p>
        <p>Ecrire un programme qui :</p>
        <ul>
          <li>Saisit le nombre de stations de services <code>n</code> qui se trouvent aux alentours</li>
          <li>Remplit un tableau <code>dist</code> par les distances des stations de services</li>
          <li>Affiche le numéro de station de la plus proche ainsi que sa distance.</li>
        </ul>
      </section>

      <section>
        <h3>Doublure d'acteurs</h3>
        <p>Lors de tournage d'un film certaines scènes doivent être doublées par une autre personne qui possède une
          certaine ressemblance à l'acteur principal.</p>
        <p>Disposant d'un tableau qui contient le degré de ressemblance de n candidats avec l'acteur principal
          sélectionner le candidat adéquat.</p>
        <p>On suppose que la caractéristique de l'acteur est représentées par un entier entre 0 et 100.</p>
        <p>On suppose que les caractéristiques des doublures sont aussi représentées par des entiers entre 0 et 100
          stockés dans un tableau.</p>
        <p>Ecrire un programme qui :</p>
        <ul>
          <li>saisit la caractéristique de l'acteur principal <code>0 &le; car &le; 100</code>,</li>
          <li>saisit le nombre de doublures (nombre de personnes qui peuvent remplacer l'acteur)
            <code>2 &le; n &le; 10</code>,
          </li>
          <li>remplit un tableau <code>t</code> par les caractéristiques des doublures,</li>
          <li>affiche le candidat qui ressemble le plus à l'acteur principal.</li>
        </ul>
        <pre><code class="nohighlight shell python" data-text="Exemple">Caractéristique de l'acteur ? 78
Nombre de doublures ? 10
Caractéristiques des doublures : [58, 55, 79, 91, 44, 4, 44, 2, 4, 22]
Le candidat est n° 2 sa caractéristique est 79</code></pre>
      </section>
    </article>
  </main>
  <footer class="d-print-none bg-dark text-white p-2">
    <div class="text-center">Page créée avec ♥ par Mohamed Anis MANI</div>
    <div class="text-center small">Année scolaire : 2022/2023</div>
  </footer>

  <script src="resources/js/jquery.min.js"></script>
  <script src="resources/js/bootstrap.bundle.min.js"></script>
  <script src="resources/js/highlight.pack.js"></script>
  <script src="resources/js/hljs.algorithm.js"></script>
  <script src="resources/js/clipboard.min.js"></script>
  <script src="resources/js/pages.js"></script>
  <script src="resources/js/vue.min.js"></script>
  <script src="resources/apps/module07.js"></script>
  <script>
    hljs.initHighlightingOnLoad();

    document.querySelectorAll('.language-algorithm,.language-python')
      .forEach(item => {
        const div = document.createElement('div');
        div.className = 'bd-clipboard d-print-none';
        const btn = document.createElement('button');
        btn.className = 'btn-clipboard';
        btn.textContent = "📋";
        btn.title = "Copier";
        div.appendChild(btn);
        item.parentElement.insertBefore(div, item);
      });
    new ClipboardJS('.btn-clipboard', {
      target: (trigger) => {
        return trigger.parentElement.nextElementSibling;
      }
    });
  </script>
</body>

</html>